<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/styles.min.css" />
  <link rel="stylesheet" href="/font-manga.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
<script src="/Scripts/bootstraptaginput.package/bootstrap-tagsinput.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://use.fontawesome.com/899e289b32.js"></script>
  <script src="/main.js"></script>
  <script>

    // Sử dụng biến cates trong phần mã JavaScript của tệp .ejs
  </script>
  <title>Đọc truyện tranh online - Truyện gì cũng có - NetTruyen</title>
</head>

<header>
  <div class="navbar">
    <a href="/">
    <img src="https://st.nettruyenus.com/data/logos/logo-nettruyen.png" alt="" href="/" /></a>
    <div class="search-box">
      <input type="text" id="searchInput" placeholder="Tìm truyện..." />
      <button id="searchButton">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="icon-group">
      <i class="fa fa-lightbulb-o toggle-dark"></i>
      <i class="fa fa-comment notifications"></i>
    </div>

    <div class="sign-group">
      <% if(isLoggedIn) {%>
        <a href="/profile">
          <%= user %>
        </a>
        <% } else {%>
          <a href="/login">Đăng nhập</a>
          <a href="/signup">Đăng ký</a>
          <% } %>
    </div>
  </div>
</header>

<nav class="main-nav" style="">
  <div class="inner">
    <div class="container clearfix" style="width: 1030px">
      <ul class="navbar-nav main-menu" style="float: left;margin: 0 -50px;flex-direction: row;">
        <li class="active"><a href="/"><i class="fa-solid fa-home"></i></a></li>
        <li><a href="#">HOT</a></li>
        <li><a href="/following">Theo dõi</a></li>
        <li><a href="/history">Lịch sử</a></li>
        <li class="dropdown">
          <a href="/tag">Thể Loại
            <i class="fa-solid fa-caret-down">
              <ul class="nav dropdown-content">
                <li>
                  <div class="clearfix">
                    <div class="col-sm-3">
                      <ul class="nav">
                        <li class="active">
                          <a data-title="Tất cả thể loại truyện tranh" href="https://www.nettruyenus.com/tim-truyen"
                            target="_self">
                            <strong>Tất cả</strong>
                          </a>
                        </li>
                        <% for (let i = 0; i < categoryy.length; i++) { 
                        %>
                        <li>
                          <a title="<%= categoryy[i].title %>"
                            data-title="<%= categoryy[i].description %>"
                            href="/tag:<%= categoryy[i].title %>" target="_self"><%= categoryy[i].title %></a>
                        </li>
                        <%}%>
                      </ul>
                    </div>
                    <div class="col-sm-12 hidden-xs">
                      <p class="tip">
                      </p>
                    </div>
                  </div>
                </li>


              </ul>
            </i></a>
        </li>
        <li class="dropdown">
          <a href="#">Xếp hạng
            <i class="fa-solid fa-sort">
              <ul class="nav dropdown-content">
                <li>
                  <div class="clearfix">
                    <ul>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </i></a>
        </li>
        <li><a href="#">Tìm truyện</a></li>
        <li><a href="/mangadetail">Con gái</a></li>
        <li><a href="#">Con trai</a></li>
        <li><a href="#">Tải App</a></li>
        <li><a href="#">GROUP</a></li>
      </ul>
    </div>
  </div>
</nav>
</head>

</html>