<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  <script src="https://use.fontawesome.com/899e289b32.js"></script>
  <script src="./assets/main.js"></script>
  <title>Đọc truyện tranh online - Truyện gì cũng có - NetTruyen</title>
</head>

<body>
   <%- include('partials/header') %>
   <section>
    <div class="app">
      <div class="recommend_comic">
        <h2 class="page-title">
          Truyện đề cử <i class="fa-solid fa-angle-right"></i>
        </h2>
        <div class="items-slide">
          <div
            class="owl-carousel clearfix owl-theme"
            style="opacity: 1; display: block"
          >
            <div class="owl-wrapper-outer">
              <div class="prev-button bigbutt" onclick="goToPreviousSlide()"><i class="fa-solid fa-chevron-left"></i></div>
              <div class="next-button bigbutt" onclick="goToNextSlide()"><i class="fa-solid fa-chevron-right"></i></div>
              <div
                class="owl-wrapper"
                style="
                  width: 4872px;
                  left: 0px;
                  display: block;
                  transition: all 800ms ease 0s;
                  transform: translate3d(0px, 0px, 0px);
                "
              >
              <% for(let i = 0; i < comicspage.length ; i ++){ %>
                <div class="owl-item" style="width: 208px">
                    
                  <div class="item">
                    <a
                      href="<%='/'+ comicspage[i].title %>"
                      title="<%= comicspage[i].title %>"
                    >
                      <img
                        class="lazyOwl center"
                        src="<%= comicspage[i].linkimg %>"
                        alt="<%= comicspage[i].title %>"
                        style="width: 200px;height: 260px;"
                      />
                    </a>
                    <div class="slide-caption">
                      <h3>
                        <a
                          href="<%= comicspage[i].linkimg %>"
                          title="<%= comicspage[i].title %>"
                          ><%= comicspage[i].title %></a
                        >
                      </h3>
                      <a
                        href="<%= comicspage[i].title %>"
                        title="Chapter 213"
                        >Chapter 213</a
                      >
                      <span class="time">
                        <i class="fa fa-clock-o"> </i> 19:52 25/03</span
                      >
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
       
      </div>

      <div class="clearfix">
        <div id="div-center" style="display: flex;flex-direction: column;">
          <div class="updated_comic">
            <h2 class="page-title">
              Truyện mới cập nhật <i class="fa-solid fa-angle-right"></i>
            </h2>
            <a
              class="filter-icon"
              title="Tìm truyện nâng cao"
              href="/tim-truyen-nang-cao"
            >
              <i class="fa fa-filter"> </i>
            </a>
            <% for(const comici of comicspage){
              
            %>
            <div class="item">
              <div class="image">
                <img
                  src="<%= comici.linkimg %>"
                  alt=""
                />
                <div class="view clearfix">
                  <span class="pull-left">
                    <i class="fa fa-eye"> </i> 28K
                    <i class="fa fa-comment"></i> 35
                    <i class="fa fa-heart"></i> 5.099</span
                  >
                </div>
              </div>
              <h3><a href="/detailmanga:<%= comici._id%>"><%= comici.title %></a></h3>
              <ul class="comic-item">
                <%
                let count = 0;
                for (let index = comici.matchedChapters.length ; index >= 0 && count <= 3; index--) {
                  let chapter_i = index + 1;
                  if (comici.matchedChapters[index] == undefined){

                  } else {
                  let id_chapters = comici.matchedChapters[index]._id;
                %>
                <li class="chapter clearfix">
                <a
                    data-id="942585"
                    href="/read:<%= id_chapters %>"
                    title="Chapter <%= index %>"
                    >Chapter <%= chapter_i %></a
                ><%
                let timeUpload = new Date(comici.matchedChapters[index].time_upload);
                const date = new Date(timeUpload);

                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0'); // Tháng trong JavaScript bắt đầu từ 0
                const year = date.getFullYear();
                
                const formattedDate = `${day}-${month}-${year}`;


                let timeDifference = dateNow - timeUpload; 
                let timeChapterUpload = 0;
                let minutesDifference = Math.floor(timeDifference / (1000 * 60));
                if(minutesDifference < 60){
                  timeChapterUpload = minutesDifference;
                 %>
                <i class="time"><%= timeChapterUpload %> phút trước</i>
                </li>
                <%
              } else if(minutesDifference< 1440){
                   timeChapterUpload = Math.floor(minutesDifference / 60);
                %>
                <i class="time"><%= timeChapterUpload %> giờ trước</i>
                </li>
                <%
              } else if(minutesDifference< 43200){
                   timeChapterUpload = Math.floor(minutesDifference / 1440);
                %>
                <i class="time"><%= timeChapterUpload %> ngày trước</i>
                </li>
                <%
              } else{
                   timeChapterUpload = formattedDate;
                %>
                <i class="time"><%= timeChapterUpload %> </i>
                </li>
                <%
                 }
              } count++;}
                %>
              </ul>
            </div>
            <% } %>
          </div>
          <br />
          <div class="pagination-outer">
            <ul class="pagination">
              <% for(let i = 1; i <= totalPages ; i ++){ %>
              <li>
                <a
                  href="/?page=<%= i %>"
                  title=""
                  ><%= i %></a
                >
              </li>
              <%}%>
            </ul>
          </div>
        </div>
        <div id="div-right">
          <!-- top rank  -->
          <div class="box-tab top-rank">
            <ul class="nav-tab clearfix">
              <li class="active" style="width: 100%; padding: 5px 0 0 10px;" >
                <p style="text-transform: uppercase; font-weight: 500; font-size: 25px ;">Top truyện</p>
              </li>
                
            </ul>
            <div class="tab-pane">
              <div>
                <ul>
                  <% for (let i = 0 ; i <5 ; i++) { 
                    let a =  comics1[i].chapter_comic.length -1 ; %>
                  <li class="clearfix">
                    <span class="txt-rank fn-order pos1"><%= i+1 %></span>
                    <div class="t-item comic-item">
                      <a class="thumb">
                        <img
                          class="lazy center"
                          src="<%= comics1[i].linkimg %>"
                          data-original="<%= comics1[i].linkimg %>"
                          alt="<%= comics1[i].title %>"
                        />
                      </a>
                      <h3 class="title">
                        <a href="/detailmanga:<%= comics1[i]._id%>"><%= comics1[i].title %></a>
                      </h3>
                      <p class="chapter top">
                        <a
                          data-id="942493"
                          href="/read:<%= comics1[i].chapter_comic[a]  %>"
                          title="<%= comics1[i].chapter_comic.length  %>"
                          ><%= comics1[i].chapter_comic.length  %></a
                        >
                        <span class="view pull-right">
                          <i class="fas fa-eye"> </i> <%= comics1[i].__v %></span
                        >
                      </p>
                    </div>
                  </li>
                  <%}%>
                </ul>
              </div>
            </div>
          </div>

          <!-- top member  -->
        

          <!-- top member  -->
          
        </div>
      </div>
    </div>
    
  </section>
    <%- include('partials/footer') %>
   
</body>

</html>