<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  <script src="https://use.fontawesome.com/899e289b32.js"></script>
  <script src="./assets/main.js"></script>
  <title>Đọc truyện tranh online - Truyện gì cũng có - NetTruyen</title>
</head>

<body>
   <%- include('partials/header') %>
   <section>
    <div class="app">
      <div class="recommend_comic">
        <h2 class="page-title">
          Truyện đề cử <i class="fa-solid fa-angle-right"></i>
        </h2>
        <div class="items-slide">
          <div
            class="owl-carousel clearfix owl-theme"
            style="opacity: 1; display: block"
          >
            <div class="owl-wrapper-outer">
              <div class="prev-button bigbutt" onclick="goToPreviousSlide()"><i class="fa-solid fa-chevron-left"></i></div>
              <div class="next-button bigbutt" onclick="goToNextSlide()"><i class="fa-solid fa-chevron-right"></i></div>
              <div
                class="owl-wrapper"
                style="
                  width: 4872px;
                  left: 0px;
                  display: block;
                  transition: all 800ms ease 0s;
                  transform: translate3d(0px, 0px, 0px);
                "
              >
              <% for(let i in comics){ %>
                <div class="owl-item" style="width: 208px">
                    
                  <div class="item">
                    <a
                      href="<%='/'+ comics[i].title %>"
                      title="<%= comics[i].title %>"
                    >
                      <img
                        class="lazyOwl center"
                        src="<%= comics[i].linkimg %>"
                        alt="<%= comics[i].title %>"
                        style="width: 200px;height: 260px;"
                      />
                    </a>
                    <div class="slide-caption">
                      <h3>
                        <a
                          href="<%= comics[i].linkimg %>"
                          title="<%= comics[i].title %>"
                          ><%= comics[i].title %></a
                        >
                      </h3>
                      <a
                        href="<%= comics[i].title %>"
                        title="Chapter 213"
                        >Chapter 213</a
                      >
                      <span class="time">
                        <i class="fa fa-clock-o"> </i> 19:52 25/03</span
                      >
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
       
      </div>

      <div class="clearfix">
        <div id="div-center" style="display: flex;flex-direction: column;">
          <div class="updated_comic">
            <h2 class="page-title">
              Truyện mới cập nhật <i class="fa-solid fa-angle-right"></i>
            </h2>
            <a
              class="filter-icon"
              title="Tìm truyện nâng cao"
              href="/tim-truyen-nang-cao"
            >
              <i class="fa fa-filter"> </i>
            </a>
            <% for(let i in comics1){ %>
            <div class="item">
              <div class="image">
                <img
                  src="<%= comics1[i].linkimg %>"
                  alt=""
                />
                <div class="view clearfix">
                  <span class="pull-left">
                    <i class="fa fa-eye"> </i> 28K
                    <i class="fa fa-comment"></i> 35
                    <i class="fa fa-heart"></i> 5.099</span
                  >
                </div>
              </div>
              <h3><%= comics[i].title %></h3>
              <ul class="comic-item">
                <li class="chapter clearfix">
                  <a
                    data-id="942585"
                    href="<%= comics1[i].title %>"
                    title="Chapter 34"
                    >Chapter 34</a
                  >
                  <i class="time">1 giờ trước</i>
                </li>
                <li class="chapter clearfix">
                  <a
                    data-id="942585"
                    href="<%= comics1[i].linkimg %>"
                    title="Chapter 34"
                    >Chapter 34</a
                  >
                  <i class="time">1 giờ trước</i>
                </li>
                <li class="chapter clearfix">
                  <a
                    data-id="942585"
                    href="<%= comics1[i].title %>"
                    title="Chapter 34"
                    >Chapter 34</a
                  >
                  <i class="time">1 giờ trước</i>
                </li>
              </ul>
            </div>
            <% } %>
          </div>
          <br />
          <div class="pagination-outer">
            <ul class="pagination">
              <li class="active">
                <a
                  href="https://www.nettruyenus.com/"
                  title="Đang hiện kết quả 1 tới 36 / 20667"
                  >1</a
                >
              </li>
              <li>
                <a
                  href="https://www.nettruyenus.com/?page=2"
                  title="Hiện kết quả 37 tới 72 / 20667"
                  >2</a
                >
              </li>
              <li>
                <a
                  href="https://www.nettruyenus.com/?page=3"
                  title="Hiện kết quả 73 tới 108 / 20667"
                  >3</a
                >
              </li>
              <li>
                <a
                  href="https://www.nettruyenus.com/?page=4"
                  title="Hiện kết quả 109 tới 144 / 20667"
                  >4</a
                >
              </li>
              <li>
                <a
                  href="https://www.nettruyenus.com/?page=5"
                  title="Hiện kết quả 145 tới 180 / 20667"
                  >5</a
                >
              </li>
              <li class="PagerSSCCells">
                <a
                  href="https://www.nettruyenus.com/?page=100"
                  title="Hiện kết quả 3565 tới 3600 / 20667"
                  >100</a
                >
              </li>
              <li class="PagerSSCCells">
                <a
                  href="https://www.nettruyenus.com/?page=190"
                  title="Hiện kết quả 6805 tới 6840 / 20667"
                  >190</a
                >
              </li>
              <li class="PagerSSCCells">
                <a
                  href="https://www.nettruyenus.com/?page=290"
                  title="Hiện kết quả 10405 tới 10440 / 20667"
                  >290</a
                >
              </li>
              <li class="PagerSSCCells">
                <a
                  href="https://www.nettruyenus.com/?page=380"
                  title="Hiện kết quả 13645 tới 13680 / 20667"
                  >380</a
                >
              </li>
              <li class="PagerSSCCells">
                <a
                  href="https://www.nettruyenus.com/?page=480"
                  title="Hiện kết quả 17245 tới 17280 / 20667"
                  >480</a
                >
              </li>
              <li>
                <a
                  class="next-page"
                  href="https://www.nettruyenus.com/?page=2"
                  title="Chuyển đến trang 2"
                  >›</a
                >
              </li>
              <li>
                <a
                  href="https://www.nettruyenus.com/?page=575"
                  title="Trang cuối"
                  >»</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div id="div-right">
          <!-- top rank  -->
          <div class="box-tab top-rank">
            <ul class="nav-tab clearfix">
              <li>
                <a class="active">Top Tháng</a>
              </li>
              <li>
                <a class="">Top Tuần</a>
              </li>
              <li>
                <a class="">Top Ngày</a>
              </li>
            </ul>
            <div class="tab-pane">
              <div>
                <ul>
                  <li class="clearfix">
                    <span class="txt-rank fn-order pos1">01</span>
                    <div class="t-item comic-item">
                      <a class="thumb">
                        <img
                          class="lazy center"
                          src="//st.ntcdntempv3.com/data/comics/32/vo-luyen-dinh-phong.jpg"
                          data-original="//st.ntcdntempv3.com/data/comics/32/vo-luyen-dinh-phong.jpg"
                          alt="Võ Luyện Đỉnh Phong"
                        />
                      </a>
                      <h3 class="title">
                        <a href="">Vo luyen dinh phong</a>
                      </h3>
                      <p class="chapter top">
                        <a
                          data-id="942493"
                          href="https://www.nettruyenus.com/truyen-tranh/vo-luyen-dinh-phong/chap-2909/942493"
                          title="Chapter 2909"
                          >Chapter 2909</a
                        >
                        <span class="view pull-right">
                          <i class="fa fa-eye"> </i> 31M</span
                        >
                      </p>
                    </div>
                  </li>

                  <li class="clearfix">
                    <span class="txt-rank fn-order pos1">02</span>
                    <div class="t-item comic-item">
                      <a class="thumb">
                        <img
                          class="lazy center"
                          src="https://st.ntcdntempv3.com/data/comics/23/doc-thu-vu-y.jpg"
                        />
                      </a>
                      <h3 class="title">
                        <a href="">Độc Thủ Vu Y</a>
                      </h3>
                      <p class="chapter top">
                        <a
                          data-id="942493"
                          href="https://www.nettruyenus.com/truyen-tranh/vo-luyen-dinh-phong/chap-2909/942493"
                          title="Chapter 2909"
                          >Chapter 330</a
                        >
                        <span class="view pull-right">
                          <i class="fa fa-eye"> </i> 10M</span
                        >
                      </p>
                    </div>
                  </li>

                  <li class="clearfix">
                    <span class="txt-rank fn-order pos1">03</span>
                    <div class="t-item comic-item">
                      <a class="thumb">
                        <img
                          class="lazy center"
                          src="https://st.ntcdntempv3.com/data/comics/87/het-nhu-han-quang-gap-nang-gat.jpg"
                        />
                      </a>
                      <h3 class="title">
                        <a href="">Hệt như hào quang...</a>
                      </h3>
                      <p class="chapter top">
                        <a
                          data-id="942493"
                          href="https://www.nettruyenus.com/truyen-tranh/vo-luyen-dinh-phong/chap-2909/942493"
                          >Chapter 355</a
                        >
                        <span class="view pull-right">
                          <i class="fa fa-eye"> </i> 9.993K</span
                        >
                      </p>
                    </div>
                  </li>

                  <li class="clearfix">
                    <span class="txt-rank fn-order pos1">02</span>
                    <div class="t-item comic-item">
                      <a class="thumb">
                        <img
                          class="lazy center"
                          src="https://st.ntcdntempv3.com/data/comics/23/doc-thu-vu-y.jpg"
                          alt="Võ Luyện Đỉnh Phong"
                        />
                      </a>
                      <h3 class="title">
                        <a href="">Độc Thủ Vu Y</a>
                      </h3>
                      <p class="chapter top">
                        <a
                          data-id="942493"
                          href="https://www.nettruyenus.com/truyen-tranh/vo-luyen-dinh-phong/chap-2909/942493"
                          title="Chapter 2909"
                          >Chapter 330</a
                        >
                        <span class="view pull-right">
                          <i class="fa fa-eye"> </i> 10M</span
                        >
                      </p>
                    </div>
                  </li>

                  <li class="clearfix">
                    <span class="txt-rank fn-order pos1">02</span>
                    <div class="t-item comic-item">
                      <a class="thumb">
                        <img
                          class="lazy center"
                          src="https://st.ntcdntempv3.com/data/comics/23/doc-thu-vu-y.jpg"
                          alt="Võ Luyện Đỉnh Phong"
                        />
                      </a>
                      <h3 class="title">
                        <a href="">Độc Thủ Vu Y</a>
                      </h3>
                      <p class="chapter top">
                        <a
                          data-id="942493"
                          href="https://www.nettruyenus.com/truyen-tranh/vo-luyen-dinh-phong/chap-2909/942493"
                          title="Chapter 2909"
                          >Chapter 330</a
                        >
                        <span class="view pull-right">
                          <i class="fa fa-eye"> </i> 10M</span
                        >
                      </p>
                    </div>
                  </li>

                  <li class="clearfix">
                    <span class="txt-rank fn-order pos1">02</span>
                    <div class="t-item comic-item">
                      <a class="thumb">
                        <img
                          class="lazy center"
                          src="https://st.ntcdntempv3.com/data/comics/23/doc-thu-vu-y.jpg"
                          alt="Võ Luyện Đỉnh Phong"
                        />
                      </a>
                      <h3 class="title">
                        <a href="">Độc Thủ Vu Y</a>
                      </h3>
                      <p class="chapter top">
                        <a
                          data-id="942493"
                          href="https://www.nettruyenus.com/truyen-tranh/vo-luyen-dinh-phong/chap-2909/942493"
                          title="Chapter 2909"
                          >Chapter 330</a
                        >
                        <span class="view pull-right">
                          <i class="fa fa-eye"> </i> 10M</span
                        >
                      </p>
                    </div>
                  </li>

                  <li class="clearfix">
                    <span class="txt-rank fn-order pos1">02</span>
                    <div class="t-item comic-item">
                      <a class="thumb">
                        <img
                          class="lazy center"
                          src="https://st.ntcdntempv3.com/data/comics/23/doc-thu-vu-y.jpg"
                          alt="Võ Luyện Đỉnh Phong"
                        />
                      </a>
                      <h3 class="title">
                        <a href="">Độc Thủ Vu Y</a>
                      </h3>
                      <p class="chapter top">
                        <a
                          data-id="942493"
                          href="https://www.nettruyenus.com/truyen-tranh/vo-luyen-dinh-phong/chap-2909/942493"
                          title="Chapter 2909"
                          >Chapter 330</a
                        >
                        <span class="view pull-right">
                          <i class="fa fa-eye"> </i> 10M</span
                        >
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- top member  -->
          <div class="box-tab top-member">
            <h3 style="padding: 10px">Top Thành Viên</h3>
            <div class="tab-pane">
              <ul class="list-unstyled clearfix">
                <li class="clearfix">
                  <span class="txt-rank fn-order pos1">01</span>
                  <div class="t-item">
                    <img
                      class="thumb avatar lazy"
                      src="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      data-original="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      alt=""
                    />
                    <h3 class="title name-6">Quân Lâm Thiên Hạ</h3>
                    <span class="member level-6">
                      <span data-level="6">Cấp 6</span>
                      <span class="progress-bar" style="width: 20%"> </span>
                    </span>
                  </div>
                </li>

                <li class="clearfix">
                  <span class="txt-rank fn-order pos1">01</span>
                  <div class="t-item">
                    <img
                      class="thumb avatar lazy"
                      src="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      data-original="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      alt=""
                    />
                    <h3 class="title name-6">Quân Lâm Thiên Hạ</h3>
                    <span class="member level-6">
                      <span data-level="6">Cấp 6</span>
                      <span class="progress-bar" style="width: 20%"> </span>
                    </span>
                  </div>
                </li>

                <li class="clearfix">
                  <span class="txt-rank fn-order pos1">01</span>
                  <div class="t-item">
                    <img
                      class="thumb avatar lazy"
                      src="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      data-original="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      alt=""
                    />
                    <h3 class="title name-6">Quân Lâm Thiên Hạ</h3>
                    <span class="member level-6">
                      <span data-level="6">Cấp 6</span>
                      <span class="progress-bar" style="width: 20%"> </span>
                    </span>
                  </div>
                </li>

                <li class="clearfix">
                  <span class="txt-rank fn-order pos1">01</span>
                  <div class="t-item">
                    <img
                      class="thumb avatar lazy"
                      src="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      data-original="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      alt=""
                    />
                    <h3 class="title name-6">Quân Lâm Thiên Hạ</h3>
                    <span class="member level-6">
                      <span data-level="6">Cấp 6</span>
                      <span class="progress-bar" style="width: 20%"> </span>
                    </span>
                  </div>
                </li>

                <li class="clearfix">
                  <span class="txt-rank fn-order pos1">01</span>
                  <div class="t-item">
                    <img
                      class="thumb avatar lazy"
                      src="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      data-original="//st.ntcdntempv3.com/data/siteimages/anonymous.png"
                      alt=""
                    />
                    <h3 class="title name-6">Quân Lâm Thiên Hạ</h3>
                    <span class="member level-6">
                      <span data-level="6">Cấp 6</span>
                      <span class="progress-bar" style="width: 20%"> </span>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- top member  -->
          <div class="box-tab top-member">
            <h3 style="padding: 10px">Bình luận mới</h3>
            <div class="tab-pane">
              <ul
                class="list-unstyled clearfix"
                style="max-height: 1200px; overflow: auto"
              >
                <li>
                  <h3 class="title">
                    <a
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc-531376#nt_comments"
                      >Vượt Rào Trêu Chọc</a
                    ><a
                      class="cmchapter-link"
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                      ><span class="cmchapter">Chapter 82</span></a
                    >
                  </h3>
                  <a
                    class="thumb"
                    title="Vượt Rào Trêu Chọc"
                    href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                    ><img
                      alt="Author"
                      class="lazy center"
                      src="//st.nettruyenus.com/Data/SiteImages/anonymous.png"
                      data-original="//st.nettruyenus.com/Data/SiteImages/anonymous.png" /></a
                  ><span class="authorname name-4">Ng Trang</span
                  ><abbr title="29/12/2022 7:54:55 CH"
                    ><i class="fa fa-clock-o"></i> 2 giây trước</abbr
                  >
                  <p>nhìn a phản diện giống sugardaddy quá yyyy</p>
                </li>
                <li>
                  <h3 class="title">
                    <a
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc-531376#nt_comments"
                      >Vượt Rào Trêu Chọc</a
                    ><a
                      class="cmchapter-link"
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                      ><span class="cmchapter">Chapter 82</span></a
                    >
                  </h3>
                  <a
                    class="thumb"
                    title="Vượt Rào Trêu Chọc"
                    href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                    ><img
                      alt="Author"
                      class="lazy center"
                      src="//st.nettruyenus.com/Data/SiteImages/anonymous.png"
                      data-original="//st.nettruyenus.com/Data/SiteImages/anonymous.png" /></a
                  ><span class="authorname name-4">Ng Trang</span
                  ><abbr title="29/12/2022 7:54:55 CH"
                    ><i class="fa fa-clock-o"></i> 2 giây trước</abbr
                  >
                  <p>nhìn a phản diện giống sugardaddy quá yyyy</p>
                </li>

                <li>
                  <h3 class="title">
                    <a
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc-531376#nt_comments"
                      >Vượt Rào Trêu Chọc</a
                    ><a
                      class="cmchapter-link"
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                      ><span class="cmchapter">Chapter 82</span></a
                    >
                  </h3>
                  <a
                    class="thumb"
                    title="Vượt Rào Trêu Chọc"
                    href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                    ><img
                      alt="Author"
                      class="lazy center"
                      src="//st.nettruyenus.com/Data/SiteImages/anonymous.png"
                      data-original="//st.nettruyenus.com/Data/SiteImages/anonymous.png" /></a
                  ><span class="authorname name-4">Ng Trang</span
                  ><abbr title="29/12/2022 7:54:55 CH"
                    ><i class="fa fa-clock-o"></i> 2 giây trước</abbr
                  >
                  <p>nhìn a phản diện giống sugardaddy quá yyyy</p>
                </li>

                <li>
                  <h3 class="title">
                    <a
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc-531376#nt_comments"
                      >Vượt Rào Trêu Chọc</a
                    ><a
                      class="cmchapter-link"
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                      ><span class="cmchapter">Chapter 82</span></a
                    >
                  </h3>
                  <a
                    class="thumb"
                    title="Vượt Rào Trêu Chọc"
                    href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                    ><img
                      alt="Author"
                      class="lazy center"
                      src="//st.nettruyenus.com/Data/SiteImages/anonymous.png"
                      data-original="//st.nettruyenus.com/Data/SiteImages/anonymous.png" /></a
                  ><span class="authorname name-4">Ng Trang</span
                  ><abbr title="29/12/2022 7:54:55 CH"
                    ><i class="fa fa-clock-o"></i> 2 giây trước</abbr
                  >
                  <p>nhìn a phản diện giống sugardaddy quá yyyy</p>
                </li>
                <li>
                  <h3 class="title">
                    <a
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc-531376#nt_comments"
                      >Vượt Rào Trêu Chọc</a
                    ><a
                      class="cmchapter-link"
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                      ><span class="cmchapter">Chapter 82</span></a
                    >
                  </h3>
                  <a
                    class="thumb"
                    title="Vượt Rào Trêu Chọc"
                    href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                    ><img
                      alt="Author"
                      class="lazy center"
                      src="//st.nettruyenus.com/Data/SiteImages/anonymous.png"
                      data-original="//st.nettruyenus.com/Data/SiteImages/anonymous.png" /></a
                  ><span class="authorname name-4">Ng Trang</span
                  ><abbr title="29/12/2022 7:54:55 CH"
                    ><i class="fa fa-clock-o"></i> 2 giây trước</abbr
                  >
                  <p>nhìn a phản diện giống sugardaddy quá yyyy</p>
                </li>
                <li>
                  <h3 class="title">
                    <a
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc-531376#nt_comments"
                      >Vượt Rào Trêu Chọc</a
                    ><a
                      class="cmchapter-link"
                      href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                      ><span class="cmchapter">Chapter 82</span></a
                    >
                  </h3>
                  <a
                    class="thumb"
                    title="Vượt Rào Trêu Chọc"
                    href="https://www.nettruyenus.com/truyen-tranh/vuot-rao-treu-choc/chap-82/886721#nt_comments"
                    ><img
                      alt="Author"
                      class="lazy center"
                      src="//st.nettruyenus.com/Data/SiteImages/anonymous.png"
                      data-original="//st.nettruyenus.com/Data/SiteImages/anonymous.png" /></a
                  ><span class="authorname name-4">Ng Trang</span
                  ><abbr title="29/12/2022 7:54:55 CH"
                    ><i class="fa fa-clock-o"></i> 2 giây trước</abbr
                  >
                  <p>nhìn a phản diện giống sugardaddy quá yyyy</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
    <%- include('partials/footer') %>
   
</body>

</html>