<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/styles.min.css" />
  <link rel="stylesheet" href="/font-manga.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <script src="https://use.fontawesome.com/899e289b32.js"></script>
  <script src="./assets/main.js"></script>
  <title>Đọc truyện tranh online - Truyện gì cũng có - NetTruyen</title>
</head>

<body>
  <%- include('partials/header') %>
    <section>
      <div class="app">
        <div class="clearfix">
          <div>
          <article id="item-detail">
            <h1 class="title-detail"><%= detailcomic.title %></h1>
            <time class="small">
              [Cập nhật lúc: <%= detailcomic.time_upload %>]
            </time>
            <div class="detail-info">
              <div class="row">
                <div class="col-xs-4 col-image">
                  <img src="<%= detailcomic.linkimg %>"
                    alt="<%= detailcomic.title %>">
                </div>
                <div class="col-xs-8 col-info">
                  <ul class="list-info">
                    <li class="author row">
                      <p class="name col-xs-4">
                        <i class="fa fa-user">
                        </i> Tác giả
                      </p>
                      <p class="col-xs-8"><a
                          href=""><%= detailcomic.author_id %></a></p>
                    </li>
                    <li class="status row">
                      <p class="name col-xs-4">
                        <i class="fa fa-rss">
                        </i> Tình trạng
                      </p>
                      <p class="col-xs-8">Đang tiến hành</p>
                    </li>
                    <li class="kind row">
                      <p class="name col-xs-4">
                        <i class="fa fa-tags">
                        </i> Thể loại
                      </p>
                      <p class="col-xs-8">
                        <% for(const tag of detailcomic.tag){ %>
                        <a href="/tag:<%= tag %>"><%= tag %></a>
                        <% } %>
                        </p>
                    </li>
                    <li class="row">
                      <p class="name col-xs-4">
                        <i class="fa fa-eye">
                        </i> Lượt xem
                      </p>
                      <p class="col-xs-8">7.834.707</p>
                    </li>
                  </ul>
                  <div class="mrt5 mrb10" itemscope itemtype="http://schema.org/Book">
                    <a href="/detailmanga:<%= detailcomic.title %>">
                      <span itemprop="name"><%= detailcomic.title %></span>
                    </a>
                    <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating"> Xếp hạng:
                      <span itemprop="ratingValue">3.5</span>/<span itemprop="bestRating">5</span> - <span
                        itemprop="ratingCount">8222</span> Lượt đánh giá.</span>
                  </div>
                  <div class="row rating">
                    <div class="col-xs-6">
                      <div class="star" data-id="77628" data-rating="3.5" data-allowrating="true">
                      </div>
                    </div>
                    <div class="col-xs-6 lazy-module" data-type="facebook" style="overflow:hidden">
                      <div data-share="true" data-show-faces="true" data-action="like" data-layout="button_count"
                        class="fb-like fb_iframe_widget" fb-xfbml-state="rendered"
                        fb-iframe-plugin-query="action=like&amp;app_id=745819368841087&amp;container_width=0&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true"
                        data-href="https://www.nettruyenus.com/truyen-tranh/ta-nuoi-quy-o-tran-ma-ty-77628">
                      </div>
                    </div>
                  </div>
                  <div class="follow">
                    <a class="follow-hidden btn btn-success" href="#">
                      <i class="fa fa-heart">
                      </i>
                      <span>Theo dõi</span>
                    </a>
                    <span>
                      <b>412.927</b> Lượt theo dõi</span>
                  </div>
                  <div class="read-action mrt10">
                    
                    <a class="btn btn-warning mrb5"
                      href="/read:<%= detailcomic.matchedChapters[0]._id %>">
                      Đọc từ đầu</a>
                    <a class="btn btn-warning mrb5"
                      href="/read:<%= detailcomic.matchedChapters[number]._id %>">
                      Đọc mới nhất</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="detail-content">
              <h3 class="list-title">
                <i class="fa fa-file-text-o">
                </i> Nội dung
              </h3>
              <p>Truyện được cập nhật sớm tại nettruyen!</p>
            </div>
            <div class="list-chapter" id="nt_listchapter">
              <h2 class="list-title clearfix">
                <i class="fa fa-list">
                </i> Danh sách chương
              </h2>
              <div class="row heading">
                <div class="col-xs-5 no-wrap">Số chương</div>
                <div class="col-xs-4 no-wrap text-center">Cập nhật</div>
                <div class="col-xs-3 no-wrap text-center">Xem</div>
              </div>
              <nav>
                <ul>
                  <% for (let index = detailcomic.matchedChapters.length -1 ; index >= 0; index--){ %>
                  <li class="row less">
                    <div class="col-xs-5 chapter">
                      <a href="/read:<%= detailcomic.matchedChapters[index]._id %>"
                        data-id="948690">Chapter <%= index %></a>
                    </div>
                    <div class="col-xs-4 text-center no-wrap small"><%= detailcomic.matchedChapters[index].time_upload %></div>
                    <div class="col-xs-3 text-center small">136.714</div>
                  </li>
                  <% } %>
                </ul>
                <a class="hidden view-more" href="#">
                  <i class="fa fa-plus">
                  </i> Xem thêm</a>
              </nav>
            </div>
          </article>
        </div>
        </div>
      </div>

    </section>
    <%- include('partials/footer') %>

</body>

</html>