<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  <script src="https://use.fontawesome.com/899e289b32.js"></script>
  <script src="./assets/main.js"></script>
  <title>Đọc truyện tranh online - Truyện gì cũng có - NetTruyen</title>
</head>

<h1 style="color: rgb(0, 0, 0); margin:50px 0px 10px 0px; text-align:center">User details</h1>
        <div class=" container">
            <div class="row">
                <div class="flex-container">

                    <div class="flex-child magenta">
                        <div>
                            <div class="card" style="margin: 10px 30% 200px;">
                                <div class="card-body">
                                    <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                        <b>Name : </b>
                                        <%= user_data.name %>
                                    </p>

                                    <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                        <b>Username :</b>
                                        <%= user_data.username%>
                                    </p>

                                    <% if(user==user_data.username) {%>
                                    <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                        <b>Email :</b>
                                        <%= user_data.email %>
                                    </p>
                                    
                                    <% } %>
                                    <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                        <b>Comic :</b>
                                        <%= user_data.blog.length %>
                                    </p>
                                    <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                        <b>Comment :</b>
                                        <%= user_data.comment.length %>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
    <h1 style="text-align:center; margin:40px"><%= user_data.username %> all articles </h1>
     
    <div class="container">
      <div class="row">
        <% for(let i in blogs){ %>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">



            <div class="card">
              <div class="contain">
                <img class="card-img" src=<%=blogs[i].linkimg %> alt="Bologna">
                <div class="top-left">
                  <a href="/" class="btn btn-light btn-sm">
                    <%= blogs[i].type %>
                  </a>
                  <a href="/delete:<%=blogs[i]._id%>" class="btn btn-light btn-sm">
                    delete
                  </a>
                </div>
  
              </div>
              

              <div class="card-body">
                <h4 class="card-title">
                  <%= blogs[i].title %>
                </h4>
                <small class="text-muted cat">
                  <i class="far fa-clock text-info"></i>
                </small>
                <p class="card-text">
        
                </p>
              </div>
              <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                <div class="views">
                 
                </div>

                
              </div>
            </div>
          </div>
          <% } %>
      </div>

    </div>
  </div>

<%- include('partials/footer') %>
